
  <div class="vd-container">
  <img src="https://res.cloudinary.com/yuhri/image/upload/v1631242729/lulu404_nmhqep.png" class="lulu404">
  <div class="vd-content">
    <h1 class="vd-heading">404</h1>
    <p class="vd-sub-heading">Not Found <span class="blink-infinite">Error</span></p>
  </div>
</div>
