<div>
  <h1>Matches</h1>
</div>

<div>
  <% if @player_one != @player_two %>
    <div class="match-card avatar-large">
      <%= current_user.username %>
      <% cl_image_tag(current_user.photo.key) %>
      <%= @player_two.username %>
      <% image_tag(@player_two.photo) %>
    </div>
  <% else %>
    <div class="match-card">
      <h2>no new matches for now</h2>
      <button type="button" class="btn btn-secondary">Back to community</button>
      <% link_to :action => "index", :id => @community%>
    </div>
  <% end %>
</div>
