.bg-404 {
  background-image: image-url('404.jpeg');
  background-position: cover;
  background-size: 2000px;
  height: 1400px;
  background-position-y: -15rem;
}

// .yasuo404 {
//   background-size:contain;
//   width: 10rem;
//   height: 10rem;
//   animation: spin 4s infinite linear;
//   position:absolute;
//   right: 20rem;
// }

.lulu404 {
  background-size:contain;
  width: 20rem;
  height: 20rem;
  position:relative;
  left:10rem;
  margin-top: 2rem;
}