.sphere-btn {
  padding-top: 4rem;
  position: relative;
  bottom: 220px;
  left: 900px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  text-align: center;
  display: block;
  cursor: pointer;
  border: 3px solid;
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 3px rgb(89, 13, 151);
  box-shadow: 0.8px 0.8px 1.5px rgb(0, 0, 0);
  color: #fff;
  opacity: .95;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 60px rgb(210, 113, 255),
  inset -20px 0 60px rgb(95, 218, 255),
  inset 20px 0 300px rgb(210, 113, 255),
  inset -20px 0 300px rgb(95, 218, 255),
    0 0 30px #fff,
    -10px 0 60px rgb(210, 113, 255),
    10px 0 60px rgb(95, 218, 255);
	animation: spin 4s infinite linear;


}
@keyframes spin{
	15%{transform: translateX(-25px) translateY(-35px);
    height: 180px;
    width: 180px;;}
	25% {transform: translateX(-55px) translateY(-30px);
    height: 180px;
    width: 180px;}
	50% {transform: translateX(-85px) translateY(-35px);
    height: 180px;
    width: 180px;}
}

.sphere-btn:hover {
  letter-spacing: 0.01rem;
  border: 3px solid;
	transform: translateY(-5px);
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 60px rgb(95, 218, 255),
  inset -20px 0 60px rgb(210, 113, 255),
  inset 20px 0 300px rgb(210, 113, 255),
  inset -20px 0 300px rgb(210, 113, 255),
    0 0 30px #fff,
    -10px 0 60px rgb(95, 218, 255),
    10px 0 60px rgb(95, 218, 255);
}

.sphere-btn:hover{
  text-decoration: none;
  color: white;
}

.match-btn {
  padding-top: 6.5rem;
  // position: relative;
  // bottom: 220px;
  // left: 900px;
  margin-left: 9rem;
  margin-top: 2rem;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  display: block;
  cursor: pointer;
  // border: 3px solid;
  border: none;
  font-size: 2rem;
  // font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  // text-transform: capitalize;
  text-shadow: 2px 2px 3px rgb(89, 13, 151);
  // box-shadow: 0.8px 0.8px 1.5px rgb(0, 0, 0);
  color: #fff;
  // opacity: .95;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 60px #64DFDF,
  inset -20px 0 60px #64DFDF,
  inset 20px 0 300px rgb(95, 218, 255),
  inset -20px 0 300px #64DFDF,
    0 0 30px #fff,
    -10px 0 60px #64DFDF,
    10px 0 60px rgb(95, 218, 255);
	// animation: spin 4s infinite linear;


}
@keyframes spin{
	15%{transform: translateX(-25px) translateY(-35px);
    height: 180px;
    width: 180px;;}
	25% {transform: translateX(-55px) translateY(-30px);
    height: 180px;
    width: 180px;}
	50% {transform: translateX(-85px) translateY(-35px);
    height: 180px;
    width: 180px;}
}

.match-btn:hover {
  // margin-left: 7.5rem;
  // margin-top: 2rem;
  // height: 300px;
  // width: 300px;
  // letter-spacing: 0.02rem;
  // border: none;
	// transform: translateY(-5px);

  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 60px #64DFDF,
  inset -20px 0 60px #64DFDF,
  inset 20px 0 300px rgb(210, 113, 255),
  inset -20px 0 300px #64DFDF,
    0 0 30px #fff,
    -10px 0 60px #64DFDF,
    10px 0 60px rgb(210, 113, 255);
}

.match-btn:hover{
  text-decoration: none;
  color: white;
}
