.match-h1 {
  font-size: 120px;
  text-align: center;
  font-weight: bolder;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  animation: flicker 2s infinite alternate;
  color: rgb(252, 252, 252);
  font-family: 'Prompt', sans-serif;
  color: #64DFDF;
  padding: 130px;
}
.match-card {

  border: 3px solid #64dfcf;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.match-avatar {
  //width: 20px;
  // height: auto;
  // max-width: 100%;
  // max-height: 100%;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  color: rgb(252, 252, 252);
}
