.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to top, #391144, #381c7998);
  opacity: 0.95;
  height: 4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  position: relative;
  top:7px;
  left:30px;
  width: 3.5rem;
}
.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  animation: flicker 2s infinite alternate;
  color: rgb(252, 252, 252);
  font-family: 'Prompt', sans-serif;
  position: relative;
  top:11px;
  left:15px;
}  

@keyframes flicker {
  
0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px rgb(240, 201, 255),
    0 0 11px rgb(240, 201, 255),
    0 0 19px rgb(240, 201, 255),
    0 0 40px #7821b3,
    0 0 80px #7821b3,
    0 0 90px #7821b3,
    0 0 100px #7821b3,
    0 0 150px #7821b3;
}
20%, 24%, 55% {        
    text-shadow: none;
}
}