.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(270.97deg, #953763 -21.36%,  #9166db 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);

  opacity: 0.95;
  height: 4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  position: relative;
  top:7px;
  left:30px;
  width: 3.5rem;
}
.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  text-shadow: 0 0 10px whitesmoke!important;
  color: rgb(252, 252, 252)!important;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.1rem !important;
  position: relative;
  top:11px;
  left:15px;
}  
