.profile-bg {
  background-image: image-url('profilebg.jpeg');
  background-position: cover;
  background-size: 2000px;
  height: 1370px;
}

.main-body {
  // padding: 30px;
  // position:relative;
  // left:2rem;
  // top: 3rem;
}
.card-user-profile {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-user-profile {
  padding: 2.5rem;
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.07);
  border: 3px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  font-family: 'Fira Mono', monospace;

  h3 {
    font-size: bolder;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 10px whitesmoke;
  }
}

.card-user-info {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 63%;
  height: 40rem;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.07);
  border: 3px solid #64dfcf;
  box-shadow: 0 0 10px #64dfcf;
  display:flex;
  place-items: center;
  font-family: 'Fira Mono', monospace;

  h5 {
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 10px whitesmoke;
    text-transform: capitalize;
    font-size: 17px;
  }
}

.col-sm-9 {
  text-transform: capitalize;
  color: #9ecaed;
  font-size: 17px;
  text-shadow: 0 0 10px whitesmoke;
  letter-spacing: 0.1rem;
}

.card-user-attributes {
  padding: 1.7rem;
  position: relative;
  right:16.3rem;
  bottom:10rem;
  width: 91%;
  height: 40rem;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.07);
  border: 3px solid #cdff93;
  box-shadow: 0 0 10px #cdff93;
  font-family: 'Fira Mono', monospace;
}

.card-user-profile-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
  border-radius: .85rem;
  vertical-align: center;

  small {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px whitesmoke;
    text-transform: capitalize;
  }
}

.text-info {
  position: relative;
  left:3rem;
  bottom: 1rem;
  vertical-align: center;
  color: #cdff93 !important;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 10px #cdff93;
  font-size: 1.4rem;
}

.progress-bar {
  background-color:#cdff93 !important;
}
.card-user-profile-info {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

// .bg-gray-300 {
//   background-color: #e2e8f0;
// }
// .h-100 {
//   height: 100%!important;
// }
// .shadow-none {
//   box-shadow: none!important;
// }

.list-group-flush {
  border-radius: .85rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-outline-primary {
  position: relative;
  bottom: 1rem;
  margin: 12px;
  border-radius: .85rem;
  color:white;
  background-color: #9ecaed;
  box-shadow: 0 0 5px #9ecaed,
  0 0 5px #9ecaed,
  0 0 10px #9ecaed,
  0 0 20px #9ecaed;
  border:none;
}

.btn-outline-primary:hover {
  // position: relative;
  // bottom: 1rem;
  // margin: 10px;
  background-color: #9ecaed;
  border-radius: .85rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.rounded-circle {
  border: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.profile-features {
  // display: flex;
  // justify-content: space-around;
  position:absolute;
  top:0;
  right: 0;
  margin-top: 1.5rem;
  margin-right: -12rem;
  color: white;
  border: 2px solid white;
  width: 28rem;
  height: 55rem;
  text-align: center;
  box-shadow: 0 0 10px whitesmoke;
  border-radius: 12px;

  h2 {
    
    color: white;
    text-shadow: 0 0 10px whitesmoke;
    font-family: 'Fira Mono', monospace;
  }
}


// .communities-profile {

// }

// .matches-profile {
//   display:flex;
// }
// .main-body,h6{

// }

// .section2 {
//   background: linear-gradient(to bottom, rgba(63, 152, 212, 0.5), rgb(53, 53, 53));
//   padding: 5rem 1rem;
//   -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 3%);
//   mask-image: linear-gradient(to bottom, transparent 1%, black 3%);
// }
// .section2 p {
//   color: white;
//   text-align: center;
//   text-transform: capitalize;
//   letter-spacing: 0.25rem;
//   position: relative;
//   bottom: 4.5rem;
//   font-weight: bold;
//   // font-family: $title-font;
// }

// .btn-info {
//   border-radius: 10px;
//   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
// }

// .prof-circles {
//   padding:0;
//   margin:0;
//   display:grid;
//   grid-template-rows: repeat(auto-fill, 220px);
//   grid-template-columns: repeat(auto-fill, 220px);
//   grid-gap: 2rem;
//   }
  
  
//   .big {
//   margin-left:5rem;
//   width:500px;
//   height:500px;
//   background-color:black;
//   border-radius: 50%;
//   grid-row:auto / span 2;
//   grid-column: auto / span 3;
//   margin-top: 2rem;
//   background-color: rgba(255,255,255,0.1);
//   border: 3px solid white;
//   }

//   li.big-infos {
//     width:400px;
//     height:400px;
//     background-color:black;
//     border-radius: 50%;
//     grid-row:auto / span 2;
//     grid-column: auto / span 3;
//     margin-top: 2rem;
//     background-color: rgba(255,255,255,0.1);
//     border: 3px solid white;
//     }

    
//   .profile-circles li {
//   display:block;
//   padding:0;
//   margin:0;
//   align-self:center;
//   justify-self: center;
//   }