
<p> communities: </p>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="community">

    <% @communities.each do |community| %>
<p> <%= community.title %> </p>
<p> <%= community.img_url %> </p>
  <img src="<%= community.img_url %>">
    <% end %>

  </div>
</div>
